*{
  margin: 0;
  padding: 0; 
  box-sizing : border-box;
  font-family:'Times New Roman', sans-serif;

}

 body{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(img2.webp) no-repeat center center / cover;
   
.container{
  width: 550px;
  height: 450px;
}
}
 .topic{
  
  
  font-size: 1.2rem;
  border: solid 2px white;
  color: #fff;
  background-color: #262626;
  padding: 5px;
  width: 80%;
  margin: 20px auto;
  border-radius: 20px;
  
}
.main-content{
  width: 100%;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  padding: 50px 40px ;
  box-shadow:10px 10px 10px;
  


}

.main-content .words{
  font-size: 1.5rem;
  line-height: 1.5;
}
.main-content .person{
  font-size: 1.6rem;
  color: red;
  text-transform: uppercase;
  margin-top: 20px;
}
 #btn {
  background-color: #262626;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 15px;
  margin-top: 20px;
  border-radius: 10px;

}

#btn:active{
  background-color:rgb(116, 126, 134) ;
}
#btn:hover{
  color:purple;
}
.personimg{
  width:175px;
 padding-left: 50%;
 overflow:hidden;
 

}